{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/styles/album_poster_style.css">
{% endblock %}
{% block content %}
<div class="center">
    <div class="bg", x-data="{poster_design: 'Condensed', pattern: 'Gradient', color_A: '#293272', color_B: '#830372'}">
        <div class="bg_elements", id="properties">
            <header class="large_header", style="margin-bottom: 20px;">Album Poster</header>
            <header class="medium_header">Album Name: name</header>
            
            <label for="poster_design", class="medium_header">Poster Design - </label>
            <select name="poster_design", class="small_header", id="poster_design">
                <option>Condensed</option>
                <option>Expanded</option>
                <option>Column</option>
            </select>
            
            <header class="medium_header" style="margin-top: 30px;">Background Properties: </header>

            <label for="pattern", class="medium_header">Poster Pattern - </label>
            <select name="pattern", class="small_header", id="poster_design">
                <option>Gradient</option>
                <option>Swooshes</option>
                <option>Swirls</option>
            </select>

            <div style="margin: 15px 0 0 20px; background: none;">
                <label class="small_header">Color A - </label>
                <input class="small_header", type="color", value="#000000", @change="color_A = $event.target.value">

                <label class="small_header">Color B - </label>
                <input class="small_header", type="color", value="#000000", @change="color_B = $event.target.value">
            </div>
        </div>

        <div class="condensed_style bg_elements center", style="margin-left: 0;">
            <div class="column_arrangement" id="preview" :style="`--color_A: ${color_A}; --color_B: ${color_B}`">
                <div style="display: flex; height: 40%;">
                    <div class="bg_elements", style="height: 100%">
                        <img src="https://th.bing.com/th/id/OIP.Q4O6T4eu52HwL0_6wZ8WrAHaHa?cb=iwp2&rs=1&pid=ImgDetMain" style="height:100%;">
                    </div>

                    <div class="bg_elements", style="height: 80%; background: none;">
                        <ol style="background: none;">
                            <li style="background: none;">Silver Ligning</li>
                            <li style="background: none;">Though luck</li>
                        </ol>
                    </div>
                </div>
                
                <div class="column_arrangement" style="height: 40%; margin: 20px 0 0 15px;">
                    <label class="large_header">Album Name</label>
                    <label class="medium_header">Total Time: time</label>
                </div>

                <div class="column_arrangement", style="height: 20%; margin-left: 25px;">
                    <label class="small_header">Posted Creation Date</label>
                    <label class="small_header">Publish Date</label>
                    <label class="small_header">Record Label</label>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}