{% extends 'base.html' %} {% block head %}
<script defer src="/static/scripts/selector.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css"> -->
{% endblock %} {% block content %}
<div x-data="{searchKind: 'album', searchValue: '', items: []}">
    <input
        type="radio"
        name="search-kind"
        id="album-search"
        value="album"
        x-model="searchKind"
        @change="items = await fetchResults($data)"
    />
    <label for="album-search">Album</label>
    <input
        type="radio"
        name="search-kind"
        id="song-search"
        value="song"
        x-model="searchKind"
        @change="items = await fetchResults($data)"
    />
    <label for="song-search">Song</label>
    <input
        type="search"
        id="site-search"
        name="q"
        x-model="searchValue"
        @input.debounce.500ms="items = await fetchResults($data)"
    />

    <ul>
        <template x-for="item in items" :key="item.id">
            <li style="display: flex; margin: 0; padding: 0; list-style: none;">
                <img
                    x-bind:src="item.image_url"
                    alt=""
                    style="width: 64px; height: 64px"
                />
                <div style="display: flex; flex-direction: column;">
                    <p x-text="item.name" style="margin: 0; padding: 0;"></p>
                    <!-- <ul>
                        <template x-for="artist in item.artists">
                            <li x-text="artist"></li>
                        </template>
                    </ul> -->
                    <p x-text="item.artist" style="margin: 0; padding: 0;"></p>

                </div>
            </li>
        </template>
    </ul>
</div>

{% endblock %}
